/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

/* Header Styles */
.header {
    background: #2c3e50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.header h1 {
    margin-bottom: 0.5rem;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 15px;
}

.header nav a.active {
    background: #3498db;
    margin-top: 40px;
}

/* Layout */
.container {
    display: flex;
    width:100%;
    margin: 2rem auto;
    padding: 0 1rem;
    gap: 2rem;
    justify-content: center !important;
}


.sidebar {
    flex: 1;
    padding: 1.5rem;
    border-radius: 5px;
    height:min-content;
}

/* Post Styles */
.post {
    background: white;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width:80%;
    opacity: 0.8;
}

.post h2 {
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

.post-meta {
    color: burlywood;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.post-excerpt {
    margin-bottom: 0,5rem;
}

.read-more {
    display: inline-block;
    background: black;
    color: white;
    padding: 2rem 0,7rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    margin-top: 130px;
}

.read-more:hover {
    background: #2980b9;
}

/* Sidebar Styles */
.sidebar h3 {
    margin-bottom: 1rem;
    color: #2c3e50;
    border-bottom: 1px solid #bdc3c7;
    padding-bottom: 0.5rem;
}

.categories li {
    list-style: none;
    margin-bottom: 0.5rem;
    color: #3498db;
}

.categories a {
    text-decoration: none;
    color: #3498db;
}

.categories a:hover {
    text-decoration: underline;
    color: #3498db;
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 1rem;
    background: #2c3e50;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
.plus {
    position: fixed;
    bottom: 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.bigtitle {
    color: #2980b9;
}
.read-more {
    text-align: right;
}
.content {
    margin: 0px 100px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(137, 58, 21);
    margin-top: 150px;
    opacity: 0.8;
}
.mid{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:rgb(212, 181, 167);
    font-size: 20px;
}
.gh{
    text-align:center !important;
    color: sienna;
}
.title1{
    text-align: center;
}

.underline{
    text-decoration: underline;
}